/*Promotion Stripe*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    z-index:1;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.container.main.landscape{
    margin: 0px;
    position: absolute;
    z-index: 1;
}
div.homeMessage{
    z-index: 3;
    position: fixed;
}
.video-content{
    z-index: 21;
    position: absolute;
    top: 50%;
    left: 50%;

}

.video-content .title{
    color: white;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(-50%) translateY(-80%);
    padding: 60px 40px;
    border-radius: 25px;
    font-family: 'Coiny', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Yatra One', cursive;
    font-family: 'Kavoon', cursive;
    font-size: 40px;
    display: inline-block;
}

.video-content .languages{
    display: inline-block;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 40px;
    border-radius: 25px;
    /*font-family: 'Coiny', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'Yatra One', cursive;*/
    /*font-family: 'Kavoon', cursive;*/
    font-family: 'Calibri Light', cursive;
    font-size: 40px;
}
.languages.french{
    margin-right: 10%;
}
.languages.english{
    margin-right: 10%;
}

.typeLanguage {
    margin-left: -66%;
    margin-top: -12%;
}



.helper{
    position:absolute;
    height:90px;
    bottom:0px;
    left:20px;
}
/*End of promotion stripe*/
/*New promotion stripe:*/

body.allBody{
    padding:0;
    margin: 0;
}
.promotion{
    background-image:url('../Images/Helping.jpg');
    height:845px;
    padding:0px;
}
.Main_message{
    font-size: 60px;
    color: white;
    margin-top: 22%;
    font-family: Circular;
    text-align: center;
    text-shadow: 2px 2px black;

}

.navbar{
    position: fixed;
    z-index: 4;
    background-color: black;
}
/*.logoFlag{*/
    /*height: 100px;*/
    /*width: auto;*/
/*}*/
/*.logoFlag.usa {*/
    /*margin-top: 85%;*/
    /*margin-left: 68%;*/
/*}*/
/*.logoFlag.fr {*/
    /*margin-right: 8%;*/
/*}*/
/*.logoFlag.ru {*/
    /*margin-top: 83%;*/
    /*margin-left: 15%;*/
/*}*/
.navbar-brand.Sababa{
    /*font-family: 'Coiny', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'Yatra One', cursive;*/
    font-family: 'Coiny', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Yatra One', cursive;
    font-family: 'Kavoon', cursive;
    font-size: 33px;

}
.navbar-inverse .navbar-brand.Sababa{
    color: white;
}


/*Second Row*/

div.stripe.explanation{
    height:600px;
}

div.row.explanation{
    height:300px;
    background-color: #ECECEC;
}

.col-lg-2.icon {
    text-align: center;

}
div.hover {
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    overflow: hidden;

}

.row {
/*margin-top: 1%;*/
padding: 2%;

}
div.icon {
    border-color: #00AEEF;
}


.hovereffect {
    width:100%;
    height:170%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:170%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.6);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
    font-family: 'Coiny', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Yatra One', cursive;
    font-family: 'Kavoon', cursive;
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    margin-top:25%;
    color:white;
    text-align:center;
    vertical-align: middle;
    position:relative;
    font-size:25px;
    background:rgba(0,0,0,0.9);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    font-weight: bold;

}

.hovereffect a.info {
    text-align: left;
    text-decoration:none;
    display:inline-block;
    text-transform:lowercase;
    color:#00AEEF;
    border:1px solid black;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 7px;
    font-size: 150%;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

div.ppt{
    height:700px;
    margin-top:5%;
    margin-left:5%;
}
div.row.ppt{
    height:400px;
}

div.row.more_ppt{
    height:300px;
}

img.sababa{
    vertical-align: middle;
    margin-left: 28%;
    height: 245px;
    border-radius: 25px;
    margin-top: -7%;
}

.fa-exchange{
    position: absolute;
    top: 31%;
    left: -23%;

}

.fa-i{
    margin-left: 140px;
    transform: rotate(-25deg);
}

.fa-o{
    margin-left: 53px;
    transform: rotate(25deg);
    margin-top:20px;
}

p.sababa{
    /*text-align:center;*/
    font-family: 'Calibri Light', cursive;
    font-weight: bold;
    margin-left: 29%;
}
p.helpingStudent {
    font-family: 'Calibri Light', cursive;
    font-weight: bold;
}
p.immigrantNeedHelp {
    font-family: 'Calibri Light', cursive;
    font-weight: bold;
    padding-left: 14%;
}

.immigrant {
    margin-left: -19%;
    height: 227px;
    border-radius: 25px;
}
.oleh {
    height: 227px;
    border-radius: 25px;
    margin-left: -2%;
}


/*Start form beaty */

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.account-info {
  padding: 20px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  padding: 20px;
}
.account-action .btn {
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
}
.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}
.footer-company-name{
    display: inline-block;
}
span.SocialN {
    margin-left: 76%;
}
img.socialNetwork.facebook, img.socialNetwork.google, img.socialNetwork.instagram {
    padding-right: 1%;
}
.footer-basic-centered{
  background-color: black;
}
p.footer-links {
    color: white;
    padding-top: 1%;
}
p.footer-company-name {
    color: white;
}
.footer-links {
    border-radius: 25px;
}