.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar button {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    /*-webkit-border-radius: 4px 0 0 4px;*/
    -moz-border-radius: 4px 0 0 4px;
    /*border-radius: 4px 0 0 4px;*/
}
.nav-sidebar  button {
    cursor: default;
    background-color: white;
    color: black;
   margin:2%;
    padding:1%;
    border: hidden;
}
.nav-sidebar  button:hover {
    background-color: #eee;
}
.nav-sidebar .text-overflow button,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
a.sign_in{
    color:black;
}
div.helpee{
    height:300px;
}
div.filters{
    height:300px;
}
