div.sign_up{
    background-color: #000;
    margin: 0;
    height: 500px;
    width: 100%;
    vertical-align: middle;
    border-radius:25px;
    color:white;
}



.text{

    font-family: 'Coiny', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Yatra One', cursive;
    font-family: 'Kavoon', cursive;
    font-size: 40px;
    color:white;
    margin-left:2%;
}

label.text
{
    font-size:25px;
}

input.submit{
    font-size:15px;
    color:black;
}
